<%- include('partials/header') %>

<section class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-utensils fa-6x mb-4 text-primary"></i>
    <h1 class="display-4 font-weight-bold">Culinary Secrets</h1>
    <p class="lead mb-4">Uncover and share exquisite culinary experiences.</p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6 mb-4">
        <a class="btn btn-outline-primary btn-lg btn-block" href="/register" role="button">Get Started</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-outline-success btn-lg btn-block" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
