<%- include('partials/header') %>

<section class="jumbotron text-center" style="background-color: #ed1c24; padding: 100px 0;">
  <div class="container">
    <img src="https://static.vecteezy.com/system/resources/previews/004/735/433/non_2x/food-delivery-service-on-mobile-app-icon-free-vector.jpg" alt="Culinary Secrets Logo" style="width: 150px; height: 150px; border-radius: 50%; background-color: #fff; padding: 10px;">
    <h1 class="display-4 font-weight-bold" style="color: #fff; margin-top: 20px;">Culinary Secrets</h1>
    <p class="lead mb-4" style="color: #fff;">Uncover and share exquisite culinary experiences.</p>
    <hr class="my-4" style="border-color: #fff;">
    <div class="row">
      <div class="col-md-6 mb-4">
        <a class="btn btn-outline-light btn-lg btn-block" href="/register" role="button">Get Started</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-outline-light btn-lg btn-block" href="/login" role="button">Login</a>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="https://img.freepik.com/free-photo/freshly-italian-pizza-with-mozzarella-cheese-slice-generative-ai_188544-12347.jpg" alt="Food Image" style="width: 100%; border-radius: 10px;">
    </div>
    <div class="col-md-6">
      <h2 class="font-weight-bold" style="color: #ed1c24;">Discover Amazing Food</h2>
      <p style="color: #343a40;">Explore a wide range of cuisines and discover new flavors from around the world.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 order-md-2">
      <img src="https://img.freepik.com/free-photo/delicious-burger-with-many-ingredients-isolated-white-background-tasty-cheeseburger-splash-sauce_90220-1266.jpg?size=338&ext=jpg&ga=GA1.1.1700460183.1712448000&semt=sph" alt="Food Image" style="width: 100%; border-radius: 10px;">
    </div>
    <div class="col-md-6 order-md-1">
      <h2 class="font-weight-bold" style="color: #ed1c24;">Order with Ease</h2>
      <p style="color: #343a40;">Satisfy your cravings by ordering your favorite dishes with just a few clicks.</p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
